html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.flex{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.flex1{
  display:flex;
  flex-direction: row;
}

a{
  text-decoration: none;
  color: white;

}

a:hover{
  color:#d9beba;

}

.img-transition{
  transition: transform 1s;
}

.img-transition:hover{
  transform: scale(1.1, 1.1);
}