.container{
    width:300%; /* # of slides times width of slides */
    overflow: hidden;
    height: 520px;
    display: flex;

}

.slide{
    background-size: cover;
    background-repeat: no-repeat;
    /* margin:5vh 0vw 0vh 2vw; */
    flex: 1;
    height: 490px;
    overflow: hidden;

}
/* 
.slide1{
    background-image:url('../slide1.png')
}

.slide2{
    background-image:url('../slide2.png')
}

.slide3{
    background-image:url('../slide3.png')
} */